$primary: #424056;
$secondary: #FAB12D;

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $primary;
$navbar-height: 7rem;


// Footer
$footer-padding: 3rem 1.5rem 4rem;
$footer-background-color: $primary;

// Card
$card-background-color: $secondary;
